/* SignIn.css */
.signin-page {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: #f1f1f1;
}

.header {
    height: 10vh;
}

.signin-container {
    flex-grow: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 10vh;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
