html, body {
    height: 100%;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    


}

main {
    flex: 1;
}

/* Footer styles */
.footer {
    padding: 1rem 0; 
    text-align: center;
    margin-top: auto;
    font-size: 0.8rem;
    background-color: #f7f7f7;
    padding: 0.2rem 1rem;
    max-width: 100% !important;
    max-height: 10vh;
    font-weight: 500;
}


.footer-link {
    color: #ff6600;
    text-decoration: none;
    margin: 0 0.5rem;
}
p {
    color:  #ff6600;
}

.footer-link:hover {
    text-decoration: underline;
}
